@media all and (max-width: 500px) {
  button.simple-bse {
    height: 50px !important;
    width: 80% !important;
    padding: auto !important;
  }
}
button.simple-bse {
  z-index: 20;
  border-radius: 0px;
  border: 0px;
  height: 30px;
  padding: 0px 65px;
  font-size: 15px;
  text-transform: uppercase;
  opacity: 1;
/*  transition: opacity 1s;*/
}
button.simple-bse:hover {
  /*opacity: 0.7;*/
}
