@media all and (max-width: 600px) {
  a.simpleBse {
    height: 50px !important;
    padding: auto !important;
  }
}
@media all and (min-width: 1300px) {
  a.simpleBse {
    height: 3rem !important;
    padding: 0px 6rem !important;
  }
}
.logo-bse:hover {
  transform: scale(1.04);
}
a.simpleBse {
  z-index: 20;
  border-radius: 0px;
  border: 0px;
  height: 2rem;
  padding: 0px 4rem;
  font-size: 15px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: max-content;
  box-shadow: 0px 0px 7px #0000008c;
  opacity: 0;
  transition: opacity 0.5s ease;
  transition: box-shadow .7s ease;
}
.home-bas-bse:hover a.simpleBse, .home-haut-bse:hover a.simpleBse {
  opacity: 1;
}
.home-bas-bse a.simpleBse:hover, .home-haut-bse a.simpleBse:hover {
  box-shadow: 0px 0px 20px #000000c7;
}

/* bouton home "nos produits" */
.home-haut-bse a.simpleBse {
  margin: 5%;
  background-color: white;
  color: black;
}

/* bouton home "en savoir +" */
.home-bas-bse a.simpleBse {
  background-color: black;
  color: white;
}
.home-bas-bse a.simpleBse h4 {
  font-family: DinL !important;
}

/* boutons boites home */
.boite-zoom {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: flex-end;
  transition: transform .5s ease;
  overflow: hidden;
  position: relative;
}
.home-haut-bse:hover .boite-zoom, .bas-droite-bse:hover .boite-zoom {
  transform: scale(1.04);
}
.bas-droite-bse .boite-zoom {
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  transition: transform .5s ease;
}
