@media all and (max-width: 500px) {

}
h1 {
  font-family: Deby;
  font-weight: 400;
  font-size: 4.2rem;
}
h2 {
  font-family: DinB;
}
h3 {
  font-family: DinL;
  font-weight: 400;
  font-size: 1.4rem;
  letter-spacing: 1px;
  line-height: 23pt;
}
h4 {
  font-family: DinL;
  text-transform: uppercase;
  font-size: 15px;
  height: auto;
  font-weight: 400;
}
header ul a{
  font-family: DinM;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.3rem;
  letter-spacing: 2.5px;
}
header ul li:last-of-type {
  margin-top: 3rem;
}
header ul li:last-of-type a {
  font-size: 0.9rem !important;
  text-decoration: underline;
  text-transform: initial;
  letter-spacing: 1.2px;
}
