@media all and (max-width: 500px) {
  .home-bse {
    height: max-content !important;
  }
  .home-haut-bse {
    height: 60vh !important;
  }
  .home-haut-bse img {
    width: auto !important;
    height: 100% !important;
  }
  .home-bas-bse {
    flex-direction: column !important;
    height: max-content !important;
  }
  .bas-gauche-bse, .bas-droite-bse {
    width: 100% !important;
    height: 35vh !important;
  }
}
.home-article-link {
  padding:0px;
}
.home-bse {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.home-haut-bse {
  width: 100%;
  height: 60%;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-end;
}
.home-haut-bse a.simple-bse {
  margin: 5%;
  background-color: white;
  color: black;
}
.home-haut-bse img {
  width: 100%;
  position: absolute;
}
.home-bas-bse {
  width: 100%;
  height: 40%;
  display: flex;
}
.home-bas-bse a.simple-bse {
  background-color: black;
  color: white;
}
.bas-gauche-bse {
  width: 50%;
  height: 100%;
  background-color: black;
  color: white;
  display: flex;
  align-items: flex-end;
}
.bas-droite-bse {
  width: 50%;
  height: 100%;
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.bas-gauche-bse, .bas-droite-bse {
  padding: 0% 5%;
}
