@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@100&display=swap');
@font-face {
    font-family: 'Deby';
    src: url('../../static/debby.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DinL';
    src: url('../../static/din/DINLightAlternate.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DinB';
    src: url('../../static/din/DINBlackAlternate.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DinM';
    src: url('../../static/din/DINBoldAlternate.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@import "boutons.css";
@import "fonts.css";
@import "home.css";
@import "catalogue.css";
@import "pages_texte.css";
@import "produits.css";
@import "navigation.css";
