@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@100&display=swap');
@font-face {
    font-family: 'Deby';
    src: url('../../public/debby.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DinL';
    src: url('../../public/din/DINLightAlternate.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DinB';
    src: url('../../public/din/DINBlackAlternate.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DinM';
    src: url('../../public/din/DINBoldAlternate.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@import "boutons.css";
@import "fonts.css";
@import "home.css";
@import "catalogue.css";
@import "pages_texte.css";


.grid-text span {
  font-family: 'Big Shoulders Stencil Display', cursive;
  font-size:100px !important;
}

@media all and (max-width: 600px) {
  header {
    position: sticky;
    top: 0;
    z-index: 30;
  }
  .a.css-goki3j-Sidebar {
    width:40% !important;
  }
  .logo-bse {
    width:10% !important;
  }
}
header {
  justify-content: space-around !important;
}
footer {
  visibility: hidden;
}
.css-goki3j-Sidebar {
  width:100% !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-bse {
  width:100% !important;
}
/*nav*/
.css-y10vd1-Sidebar {
  display: flex !important;
  flex-direction: column !important;
  padding: 1rem 2rem !important;
}
a.css-goki3j-Sidebar {
  width: 90% !important;
  align-self: center !important;
}
.css-y10vd1-Sidebar {
  padding: .5rem 2rem;
}
